<form id="login" class="login-form" novalidate>
  <div class="login-form_container">
    <h3 class="login-form_title">Вход</h3>
    {{ input 
        id="login-form_login-input"
        className="login-form_input" 
        type="text" 
        name="login" 
        label="Логин"
        errorId="login-form_login-error" 
    }}
    {{ input 
        id="login-form_password-input"
        className="login-form_input" 
        type="password" 
        name="password" 
        label="Пароль"
        errorId="login-form_password-error" 
    }}
  </div>
  <div class="login-form_container">
    {{ button title="Войти" className="login-form_submit-button" type="submit" }}
    {{ link url="/signup" title="Нет аккаунта?" }}
  </div>
</form> 