<form id="login">
  <h3>Sign in</h3>
  <label for="login">Login</label>
  <input type="text" placeholder="Enter your login" name="login" required>
  <label for="password">Password</label>
  <input type="password" placeholder="Enter your password" name="password" required>
  <button type="submit">Login</button>
</form>