@use '../../style/colors.scss';

.input-container {
	width: 100%;

	&.mb16 {
		margin-bottom: 16px;
	}

	&.mb32 {
		margin-bottom: 32px;
	}
}

.floating-input-container {
	position: relative;
  width: 100%;

	.floating-label {
		font-size: 13px;
		color: colors.$color-grey;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 4px;
		transition: all 0.1s ease;
	}

	.input:not(:placeholder-shown) ~ .floating-label{
		top: -10px;
		bottom: 0px;
		left: 4px;
		font-size: 9px;
		font-weight: 500;
    color: colors.$color-grey;
	}

	.input {
		border: none;
		border-bottom: 1px solid colors.$color-blue;
		padding: 8px 4px;
		outline: none;
		width: 100%;

		&_invalid {
			color: colors.$color-red;
			border-bottom: 1px solid colors.$color-red;
		}
	}

	.input::placeholder {
		color: colors.$color-white;
	}
}

.input_error-message {
	color: colors.$color-red;
	font-size: 8px;
	line-height: 8px;
	padding-left: 4px;
}