@import '~style/colors.scss';

.floating-input-container {
	position: relative;
  width: 100%;
}

.input {
	border: none;
	border-bottom: 1px solid $color-blue;
	padding: 8px 4px;
	outline: none;
	width: 100%;

	&_invalid {
		color: $color-red;
		border-bottom: 1px solid $color-red;
	}

	&__label {
		font-size: 13px;
		color: $color-grey;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 4px;
		transition: all 0.1s ease;
	}

	&__error-message {
		color: $color-red;
		font-size: 8px;
		line-height: 8px;
		padding-left: 4px;

		&_hidden {
			visibility: hidden;
		}
	}

	&::placeholder {
		color: $color-white;
	}
}

.input:not(:placeholder-shown) ~ .input__label {
	top: -10px;
	bottom: 0px;
	left: 4px;
	font-size: 9px;
	font-weight: 500;
	color: $color-grey;
}