@import '~style/colors.scss';

.avatar {
  position: relative;
  width: 130px;
  height: 130px;
  
  &__file-upload {
    display: none;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    cursor: pointer;
    display: block;
    z-index: 5;

    &_hidden {
      display: none;
    }
  }

  &__image-wrap {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    background-color: $color-light-grey;
  }

  &__image {
    border: 1px solid $color-light-grey;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__image-placeholder {
    width: 50%;
    border-radius: 0;
  }
}

.profile {
  padding: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__user-name {
    font-weight: 600;
    size: 16px;
    line-height: 16px;
    color: $color-black;
    margin-top: 21px;
    display: block;
   }  

  &__actions-buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 60px auto 0 auto;

    @media only screen and (max-width: 1024px) {
      width: 100%;
    }

    &_hidden {
      display: none;
    }
  }

  &__actions-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0 4px 0;
    border-bottom: 1px solid $color-light-grey;
  }
}

