@use "/src/style/colors";

.error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_header {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 24px 0;
  }

  &_description {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 72px 0;
  }
}